<ion-header >
  <ion-toolbar color="warning">
   
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="catalogue" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
     <h3>list livraison</h3>
   
   <!--<ng-container *ngIf="listcommande!=undefined">-->
   <ion-list *ngFor="let item of  tableaulivraison">
    
    <ion-item routerLink="detaillivraison/{{item.id}}" detail color="warning" >
    <ion-label >
    <h2>N° : {{item.N_livraison}}   Etat : {{item.etat}}</h2>
    <p> Date : {{item.etat}}</p>
    </ion-label >
    </ion-item  >
    
    </ion-list>
</ion-content>
