ion-item {
   margin-left: 2em;
   margin-right: 2em;
   
   
}
ion-button{
    margin-left: 2em;
   margin-right: 2em;
}
ion-input{
    
    
    
}
img{
    width: 10em;
    
    border-bottom-left-radius: 10em;
    border-top-left-radius:10em ;
    border-bottom-right-radius: 10em ;
    border-top-right-radius:10em ;
}
ion-label{
    font-size: 5em;
}