ion-card button{
    background-color: aquamarine;
    float: right;
}
.new-background-color{
    --background: #f1b707;
}
.justify{
    display: flex;
    justify-content: space-between;
}
.ion_button{
    width: 5em;
}
