<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons>
      <ion-menu-button menu="first">

      </ion-menu-button>
  </ion-buttons>
    <ion-title>catalogue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-slides pager="true" [options]="slideOpts">
  
  <ion-slide>
    <img src="assets/boo.webp" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/bo.webp" alt="">
  </ion-slide>
</ion-slides>
<!--<ion-button (click)="infor('burger')">burgers</ion-button>-->
    <ion-button color="warning"  (click)="infor('burger')">Burger</ion-button>
  
    <ion-button color="warning" (click)="infor('menu')">Menu</ion-button>
  
    <ion-label> Prix : {{ lastEmittedValue }} .00  Fcfa</ion-label>
    <ion-range [max]="10000" [min]="1000" (ionChange)="onIonChange($event)"></ion-range>
  <ion-card *ngFor="let item of produits">
   <!-- <img src="data:image/png;base64,{{item.image}}" />-->
    <ion-img src="data:image/png;base64,{{item.image}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{item.nom}}</ion-card-subtitle>
      <ion-card-title>{{item.prix}}Fcfa</ion-card-title>
    </ion-card-header> 
    <div class="justify"> 
      <ion-button class="ion_button" color="warning" routerLink="/detail/{{item.id}}">
      <ion-icon name="alert-circle-outline" ></ion-icon>
      </ion-button>
      <ion-button class="ion_button" color="warning" routerLink="">
        <ion-icon name="cart-outline" ></ion-icon>
        </ion-button>

    </div>
      
  
   
  </ion-card>
</ion-content>


