<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="catalogue" ></ion-back-button>
    </ion-buttons>
    <ion-title>panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-list>
  
    <ion-item detail>
    <ion-avatar slot="end"> <!--slot="start"attributepositionstheavatartostart-->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_rGeHJhrVrPWcvTh2R-_PHFJFNx6PZOy0SQ&usqp=CAU">
    </ion-avatar>
    <ion-label>
    <h2>Charmander - Pokemon</h2>
    <p>Know more about it!!</p>
    </ion-label>
    </ion-item>
    
    </ion-list>
    </ion-app>
</ion-content>
