<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="catalogue"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

  <ng-container *ngIf="produits!=undefined">
    <ion-content fullscreen>
    <ion-card>
      <img src="data:image/png;base64,{{produits.produit.image}}" />
      
        <ion-card-subtitle>{{produits.produit.nom}}</ion-card-subtitle>
        <ion-card-title>{{produits.produit.prix}} Fcfa</ion-card-title>
      
      <ion-card-content>
        {{produits.produit.description}}
      </ion-card-content>
      <section class="full-width">
        
        <ion-button expand="full" color="secondary">Ajouter <ion-icon name="basket-outline"></ion-icon></ion-button>
      </section>
    </ion-card>
  </ion-content> 
  </ng-container>
  

