<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Brazil
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
     <ion-title size="large">Catalogue</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
 
  <ion-button>Burger</ion-button>
  <ion-button>Menu</ion-button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa possimus a, assumenda dolor laborum consectetur hic eligendi at suscipit pariatur harum, deleniti debitis asperiores. Quasi, aperiam! Suscipit, aut culpa?

 
  
 
 
</ion-content>
