.top{
    // border-radius: 20px;
    margin-top: 10px;
}
.tops{
    border: solid orange 5px;
    margin-top: 20px;
}
.centre{
    // display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
}